<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <style>
      .card-height {
        height: 65vh;
      }
      .maunen {
        background: rgb(0, 0, 0);
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 1) 0%,
          rgba(9, 92, 121, 1) 35%,
          rgba(0, 0, 0, 1) 100%
        );
      }
      .glass {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'js/main.js')}}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="maunen">
    <div class="">
      <div class="container glass" style="margin-top: 30px">
        <div class="card card-body glass">
          <div class="row mb-3 mx-5 glass">
            <div class="card card-body glass">
              <h1 class="text-center">
                Building a Movie Recommendation Service with Apache Spark & Flask
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="card card-body glass">
                <div class="row mb-3">
                  <div class="content">
                    <div class="card-body">
                      <form
                        action=""
                        method="post"
                        enctype="multipart/form-data"
                      >
                        <div class="row p-2">
                          <div class="col">
                            <label for="iduser" class="form-label">ID User</label>
                            <input
                              type="number"
                              class="form-control"
                              id="iduser"
                              name="iduser"
                              value="{{iduser}}"
                              required
                            />
                          </div>
                          <div class="col">
                            <label for="toprating" class="form-label"
                              >Count of top rating</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="toprating"
                              name="toprating"
                              value="{{toprating}}"
                            />
                          </div>
                        </div>
                        <div class="row p-2">
                          <div class="col">
                            <label for="idphim" class="form-label"
                              >ID Movie</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="idphim"
                              name="idphim"
                              value="{{idphim}}"
                            />
                          </div>
                        </div>
                        <div class="row p-2">
                          <div class="col">
                            <div class="col-8 p-2 d-grid gap-6 mx-auto">
                              <button type="submit" class="btn btn-primary">
                                Submit
                              </button>
                            </div>
                          </div>
                          <div class="row p-2">
                            <div class="col" style="margin-left: 20px">
                              <div class="col-8 p-2 d-grid gap-6 mx-auto">
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  onclick="displaytable()"
                                >
                                TopRatingOfUser
                                </button>
                              </div>
                            </div>
                            <div class="col" >
                              <div class="col-8 p-2 d-grid gap-6 mx-auto">
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  data-bs-toggle="modal"
                                  data-bs-target="#exampleModal"
                                >
                                PredMovie
                                </button>
                              </div>
                            </div>
                            <div class="col"style="margin-top: 8px; margin-left: 30px;">
                              <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal1"
                              >
                              Add Rating
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="result" class="col-8" style="display: none">
              <div class="card card-body glass">
                <div class="row mb-3">
                  <div class="content">
                    <div
                      id="tableRS"
                      class="card-body card-height overflow-auto"
                    >
                      <table class="table caption-top">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Number of reviews</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in contain %}
                          <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{item.0}}</td>
                            <td>{{item.1}}</td>
                            <td>{{item.2}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Rating detail</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <label for="outputTenPhim" class="form-label">Title: </label>
            <input
              type="text"
              class="form-control"
              id="outputTenPhim"
              name="outputTenPhim"
              value="{{tenphim}}"
              readonly
            />
            <label for="outputDiem" class="form-label">Ratings: </label>
            <input
              type="text"
              class="form-control"
              id="outputDiem"
              name="outputDiem"
              value="{{diemRating}}"
              readonly
            />
            <label for="outputsl" class="form-label">Count of ratings: </label>
            <input
              type="text"
              class="form-control"
              id="outputsl"
              name="outputsl"
              value="{{count}}"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add ranting</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/add" method="post">
              <label for="user_id" class="form-label">ID user</label>
              <input
                type="text"
                class="form-control"
                id="user_id"
                name="user_id"
                value=""
                required
              />
              <label for="movie_id" class="form-label">ID movie</label>
              <input
                type="text"
                class="form-control"
                id="movie_id"
                name="movie_id"
                value=""
                required
              />
              <label for="ratings" class="form-label">Ratings</label>
              <input
                type="text"
                class="form-control"
                id="ratings"
                name="ratings"
                value=""
                required
              />
              <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function displaytable() {
        var element = document.getElementById("result");
        if (element.style != null) {
          element.style.display = null;
        }
      }
    </script>
  </body>
</html>
